*{
  margin:0;
  padding: 0;
  border-box:box-size;
}
img{
  border-radius:16px; 
}
:root{
  font-family:'Alice',serif;
}
body{
body {
  position: relative;
  background-image: url(./assets/image/bg-image.svg);
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
}
}
#page{
  margin:48px auto auto;
  background-color:#F0E8C2 ;
  border-radius: 24px;
  padding: 24px 24px 20px 24px;
  box-sizing: border-box;
  width:800px;
  margin-bottom:20px;
    
}
#ingredients{
  margin-top: 24px;
}
#preparation{
  margin-top: 24px;
}
main{
  padding: 24px;
}
h1{
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 4px;
}
h2{
  font-size: 24px;  
  line-height: 150%;
}
h1,h2{
  font-weight: 400;
  color: #291B1A;
}
p{
  font-size: 16px;
}
ul{
  padding-left: 24px;
}
p+p{
  margin-top:24px;
}
footer{
  color:dark;
  text-align: center;
  margin-bottom: 40px;

}
footer img{
  filter: brightness(0);
  vertical-align: text-bottom;
}
